.window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 83vh;
    width: 100%;
}

.btnRate {
    position: absolute;
    margin-top: 1%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #26ccff;
    border-radius: 10px;
    border: none;
    transition: all 0.15s ease-in;
}

.btnRate:hover {
    box-shadow: 0 0 5px #26ccff;
    cursor: pointer;
    padding: 6px 12px;
    color: #24beed;
    background-color: rgba(255, 255, 255, 0.95);
}

.btnRate:active {
    transform: translateY(1px);
}

h2 {
    color: #26ccff;
    font-weight: 800;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-y: auto;
    height: fit-content;
    max-height: 80vh;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

.mainContent::-webkit-scrollbar {
    width: 5px;
}

.mainContent::-webkit-scrollbar-thumb {
    background-color: #26ccff;
    border-radius: 6px;
}

.mainContent::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
    border-radius: 6px;
}

.mainContent::-webkit-scrollbar-thumb:hover {
    background-color: #26cdff;
}

.rateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #26ccff;
    border-radius: 5px;
    color: #26ccff;
    font-size: 14px;
    box-shadow: 0 0 5px #26ccff;
    height: fit-content;
    padding: 5px;
    width: 95%;
}

.rateInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.starIcon {
    width: 11px;
    height: 11px;
}

.feedback {
    align-self: flex-start;
    color: #26ccff;
    font-weight: 500;
}

.rateWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #26ccff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    height: fit-content;
    min-height: 250px;
    padding: 15px;
    width: 40%;
    gap: 20px;
}

input[type=number], textarea{
    height: 20px;
    width: 420px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #26ccff;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    transition: outline-color 0.15s ease-in, outline-width 0.15s ease-in;
}

textarea {
    resize: none;
    height: 100px;
}

span {
    display: none;
}

input:focus {
    outline: solid 1px rgb(200, 200, 200);
}

.submitRate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #26ccff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.15s ease-in;
    padding: 5px 25px;
}

.submitRate:hover {
    cursor: pointer;
    padding: 6px 28px;
    background-color: rgb(245, 245, 245);
}

.submitRate:active {
    transform: translateY(1px);
}

.rateForm {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}