.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 5px;
    border-radius: 8px;
    border: solid 2px #26ccff;
    overflow-y: auto;
    height: fit-content;
    max-height: 83vh;
    width: 95%;
}

.mainContainer::-webkit-scrollbar {
    width: 5px;
}

.mainContainer::-webkit-scrollbar-thumb {
    background-color: #26ccff;
    border-radius: 6px;
}

.mainContainer::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
    border-radius: 6px;
}

.mainContainer::-webkit-scrollbar-thumb:hover {
    background-color: #26cdff;
}

.positionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #26ccff;
    width: 90%;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #26ccff;
    box-shadow: 0 0 5px #26ccff;
}

.title {
    font-size: 20px;
    font-weight: 800;
}

.description {
    font-size: 15px;
    font-weight: 500;
}