{% extends "basic.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href={% static "styles/cart.css" %}>
{% endblock %}
{% block content %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-content: center;
height: 83vh; width: 100%; padding: 5px">
        {% if form is None %}
            <h1 style="color: #26ccff; align-self: center">CART ({{ price }}$)</h1>
        {% endif %}
        <div class="orderContent">
            {% if form %}
                <div class="authWindow">
                  <form method="post">
                      {% csrf_token %}
                      <table>
                      {{ form.as_table }}
                      </table>
                      <input class="submitAuth" type="submit" value='Buy' />
                  </form>
                </div>
            {% endif %}
            {% if orders %}
                {% for order in orders %}
                    <div class="orderContainer">
                        <div class="infoContainer">
                            <p class="productName" style="font-size: 14px; font-weight: 500">{{ order.product.name }}</p>
                            <p class="price" style="font-size: 16px; font-weight: 600">{{ order.product.price }}$</p>
                        </div>
                        <img class="productImage" src="{{ order.product.image.url }}" alt="product_image">
                    </div>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btnBuy" name="buy" value="buy">
                        Buy
                    </button>
                </form>
            {% else %}
                {% if form is None %}
                    <h1 style="color: #26ccff">Nothing in cart...</h1>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}